.search {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 50px;
}

@media screen and (max-width: 600px){
    .search {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
}

.search-bar {
    min-width: 300px;
    width: 30%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.search-bar:focus {
    outline: none;
}

.search-bar::placeholder {
    text-align: center;
    transition: color 0.3s ease;
}

.search-bar:focus::placeholder {
    color: transparent; 
    
}

.search-button {
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #000;
    color: #F8C9A8;
}

.track-containers {
    max-width: 1000px;
    height: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-gap: 50px;
    
}

.tracklist, .playlist {
    overflow-y: auto;
    scrollbar-width: none; 
}


.tracklist::-webkit-scrollbar, .playlist::-webkit-scrollbar {
    width: 0px; 
    height: 0px; 
}

@media screen and (max-width: 600px) {
    .track-containers {
        grid-template-columns: 1fr;
    }
}




.button {
    text-align: center;
    
}

.playlist-save {
    width: 150px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin: 20px;
    
}

.playlist-save:hover {
    background-color: #F8C9A8;
}

.playlist-clear {
    width: 150px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: grey;
    color: black;
    font-size: 20px;
    cursor: pointer;
   margin: 20px;
}

.playlist-clear:hover {
    background-color: #F8C9A8;
}

.spotify-auth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.welcome-message {
    text-align: center;
    font-size: 24px;
}